@import '../../index.scss';
@import '../../styles/layout.scss';
@import '../../styles/headings.scss';
@import '../../styles/card.scss';

.landing {

  @include full-section;
  @include flex-center;

  &__container {
    @include container;
  }

  &__heading {
    @include heading;
    @include heading-primary;

    @media only screen and (max-width: $bp-md) {
      font-size: 2.5rem;
    }

    @media only screen and (max-width: $bp-sm) {
      font-size: 2rem;
      margin: 2rem 0.6rem;
    }
  }

  &__cards {
    @include row;
    max-width: 65rem;
    margin: 0 auto;
    padding: 0 1rem;
  }

  &__card {
    @include column-2;
    @include flex-center;
    @include card-modifiers;
    @include card-animations;
    flex-direction: column;
    height: 18rem;
    color: $color-white;
    cursor: pointer;

    @media only screen and (max-width: $bp-md) {
      flex-basis: 100%;
    }
  }

  &__card-icon {
    font-size: 6rem;
    margin-bottom: 0.5rem;
    @include card-scale;
  }

  &__card-caption {
    font-size: 2.5rem;
    font-weight: 300;
    @include card-scale;
  }

}