@import '../../index.scss';
@import '../../styles/layout.scss';
@import '../../styles/headings.scss';
@import '../../styles/buttons.scss';

.food {
  @include full-section;
  @include flex-center;

  &__container {
    @include container;
    @include flex-center;
    flex-wrap: wrap;
  }

  &__column {
    flex-basis: 50%;
    flex-direction: column;

    @media only screen and (max-width: $bp-lg) {
      flex-basis: 100%;
    }
  }

  &__heading {
    @include heading;
    @include heading-primary;
    margin-bottom: 2rem;
  }

  &__alarm-error {
    color: $color-red;
    text-align: center;
    margin-bottom: 1rem;
  }

  &__navbar {
    @include flex-center;
    width: 100%;
    margin-bottom: 2rem;
  }

  &__nav-items {
    @include flex-center;

    @media only screen and (max-width: $bp-sm) {
      flex-direction: column;
    }
  }

  &__nav-item {
    margin: 0 0.2rem;

    @media only screen and (max-width: $bp-sm) {
      margin: 0 0.2rem 0.4rem;
    }
    
    &:not(:last-child) {
      @media only screen and (max-width: $bp-sm) {
        padding: 0.7rem 0;
      }
    }
  }

  &__nav-link {
    @include button;
    @include button-primary;
    color: $color-primary;
    padding: 0.5rem 2rem;
  }

  &__nav-reset {
    @include button;
    @include button-danger;
    padding: 0.5rem 2rem;
    font-size: 0.95rem;
  }

  &__dates {
    @include flex-center;
    flex-direction: column;
  }

  &__date {
    @include button;
    border-radius: 0;
    border: 2px solid $color-secondary;
    border-bottom: none;
    color: $color-secondary;
    font-size: 1.2rem;
    padding: 0.5rem 8rem;

    &:last-child {
      border-bottom: 2px solid $color-secondary;
    }

    @media only screen and (max-width: $bp-sm) {
      padding: 0.5rem 3rem;
    }
  }

  &__date:hover,
  &__selected-date {
    background: $color-secondary;
    color: white;
    outline: none;
  }

}