@import '../../index.scss';
@import '../../styles/layout.scss';

.calendar {
  @include row;

  &__column {
    width: 100%;
    max-width: 30rem;
    margin: 0 auto;
  }

  &__items {
    padding: 1rem 0.4rem 0;
  }

}