@import '../../index.scss';
@import '../../styles/layout.scss';
@import '../../styles/headings.scss';

.water {

  @include full-section;

  &__container {
    @include container;
  }

  &__heading {
    @include heading;
    @include heading-primary;
  }
  
  &__cup, &__icon {
    width: 12rem;
    padding: 0;
    outline: none;
  }

}