@import './../../index.scss';
@import './../../styles/layout.scss';

.header {
  position: fixed;
  width: 100%;
  background: $color-primary;
  height: 4rem;
  color: white;

  &__container {
    @include container;
    @include flex-center;
    @include row;
    height: 100%;
  }

  &__column {
    @include column-3;
  }

  &__icon-rotated {
    transform: rotateY(180deg);
  }

  &__logout {
    @include flex-center;
    justify-content: flex-end;
    margin-right: 1rem;
  }

  &__brand {
    font-size: 2rem;
    font-weight: 300;
    text-align: center;
    display: block;
    color: white;
  }

  &__user-info {
    justify-self: flex-end;
    text-align: left;
    margin-left: 1rem;
  }

}