@import '../../index.scss';
@import '../../styles/layout.scss';
@import '../../styles/headings.scss';

.login {

  @include full-section;
  @include flex-center;
  flex-direction: row;
  padding: 0;

  &__wrapper {
    background: white;
    padding: 3rem 4rem;
    @include flex-center;
    flex-direction: column;
    flex-basis: 40%;
    width: 100%;
    height: 100vh;

    @media screen and (max-width: 768px) {
      flex-basis: 80%;
    }
  }

  &__wrapper--green {
    background: $color-primary;
    flex-basis: 60%;

    @media screen and (max-width: 768px) {
      display: none;
    }
  }

  &__brand {
    color: white;
    font-size: 3.8rem;
    font-weight: 300;
    cursor: default;

    @media screen and (max-width: 992px) {
      font-size: 2.7rem;
    }
  }

  &__heading {
    @include heading;
    @include heading-primary;
    color: $color-primary;
    margin-bottom: 0.2rem;
  }

  &__separator {
    border: none;
    border-top: 1px solid $color-primary;
    margin-bottom: 2rem;
    width: 100%;
  }

  &__welcome {
    margin-bottom: 1rem;
    text-align: center;
  }

  &__button {
    cursor: pointer;
    border: 2px solid $color-primary;
    padding: 1rem 1rem;
    width: 100%;
    border-radius: 0.4rem;
    font-size: 1.1rem;
    font-family: 'Lato', sans-serif;
    font-weight: 300;
    text-align: center;
    transition: background-color .5s ease, color .5s ease;
  }

  &__button:hover {
    background: $color-primary;
    color: white;
  }

  &__button:disabled {
    background: rgb(221, 221, 221);
    border: 2px solid white;
    color: white;
  }

  &__button:disabled > &__google-icon {
    color: white;
  }

  &__button:hover > &__google-icon {
    color: white;
  }

  &__google-icon  {
    margin-right: 0.5rem;
    color: $color-primary;
    transition: color .5s ease;
  }

}