/* Color Definition */
$color-primary: #50c878;
$color-primary-light: #a4dfb7;
$color-primary-dark: rgb(85, 165, 86);

$color-secondary: #247B7B;
$color-secondary-dark: rgb(18, 118, 128);
$color-secondary-light: #50858B;

$color-black: #464545;
$color-gray: rgb(221, 221, 221);
$color-white: white;
$color-red: crimson;

/* Font Family*/
$default-font-family: "Lato", sans-serif;

/* Breakpoints */
$bp-xl: 1200px;
$bp-lg: 992px;
$bp-md: 768px;
$bp-sm: 576px;

/* Style Reset*/
*,
*::before,
*::after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: $default-font-family;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: $color-black;
}

h1, h2, h3, h4, h5, h6, p {
  margin: 0;
}

a {
  text-decoration: none;
}

ul, ol {
  margin: 0;
  padding: 0;

  list-style: none;
}

button {
  background: transparent;
  border: none;
}